* {
    font-family: Katahdin Round;
    color: rgb(132, 0, 255);
}

@font-face {
    font-family: "Katahdin Round";
    src: local("Katahdin Round");
}

html {
    position: relative;
    /* background: rgb(108, 195, 224); */
    padding: 1em;
    min-height: 100%;
}

body {
    height: 100%;
    background: rgb(196, 136, 252);
    margin-bottom: 50px;
}

.main-title {
    display: flex;
    justify-content: space-around;
    background-color: rgb(108, 195, 224);
    border-radius: 3px;
    text-align: center;
    font-size: 2em;
    padding: 0.5em;
    margin: auto;
}

input.menu[type="checkbox"] {
    display: none;
    -webkit-appearance: none;
}

input.menu[type="checkbox"]:checked ~ div.menu-navbar {
    opacity: 1;
    visibility: visible;
    display: inline-block;
}

input.menu[type="checkbox"]:checked ~ div.header-title {
    opacity: 1;
    visibility: hidden;
}

nav {
    margin-bottom: 1em;
}

.nav-icon {
    display: inline-block;
    font-size: 1.5em;
    padding: 0.5em;
    vertical-align: middle;
    margin-right: 2em;
}

.menu-navbar {
    display: none;
    opacity: 0;
    vertical-align: middle;
    visibility: hidden;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
    animation: 1s ease-out 0s 1 slideInRight;
}

ul.navUL {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.navUL li {
    display: inline-block;
    padding: 0em 0.5em;
}

ul.navUL li a {
    color: rgb(132, 0, 255);
    display: block;
    padding: 1em;
    text-decoration: none;
}

ul.navUL li a:hover {
    color: rgb(108, 195, 224);
    text-decoration: none;
}

#welcome-logo {
    width: 200px;
    height: 200px;
}

.init-container {
    text-align: center;
}

.cover-img {
    height: 500px;
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    /* margin-top: 3em; */
    /* margin-right: 3em; */
}

.main-container {
    background: rgb(196, 136, 252);
    /* height: 100vh; */
    /* padding: 2em; */
    margin: 2em;
}

header {
    /* display: flex;
    flex-direction: row; */
    border-radius: 3px;
    padding: 1em;
    animation: 1s ease-out 0s 1 slideInLeft;
}

/* header .nav-icon {
    float: left;
} */

.profile-container {
    display: flex;
    width: fit-content;
    background-color: rgb(108, 195, 224);
    /* border: 4px solid rgb(108, 195, 224); */
    border-radius: 3px;
    /* width: 50%; */
    padding: 1em;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2em;
    margin-bottom: 2em;
}

.profile-avatar {
    object-fit: cover;
    width: 150px;
    height: 150px;
    padding: 5px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 2em;
    margin-left: auto;
}

.profile-content {
    padding: 1em;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    /* width: 50%; */
    /* margin-left: 2em; */
}

.other-profile-content {
    padding: 1em;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    /* margin-left: 2em; */
}

.other-profile-wrapper {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 2em;
    margin-left: auto;
}

.other-profile-avatar {
    object-fit: cover;
    width: 100px;
    height: 100px;
    padding: 5px;
    margin: auto;
}

.bio {
    padding: 1em;
    margin: auto;
}

.favourites-container {
    text-align: center;
}

.chat-container {
    overflow: auto;
    display: flex;
    flex-direction: column;
    height: 500px;
    border: 4px solid rgb(132, 0, 255);
    border-radius: 3px;
    margin-left: 7em;
    margin-right: 7em;
}

.chat-content {
    display: flex;
    flex-direction: column;
    text-align: left;
    display: inline-block;
    padding: 0.2em 1em 0.2em 5em;
    position: relative;
    vertical-align: top;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
}

.chat-wrapper-user {
    background-color: rgb(108, 195, 224);
    font-size: 0.7em;
    position: relative;
    align-self: flex-end;
    border-radius: 3px;
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.5);
    width: fit-content;
    margin: 1em;
}

.chat-wrapper-others {
    background-color: rgb(108, 195, 224);
    font-size: 0.7em;
    position: relative;
    align-self: flex-start;
    border-radius: 3px;
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.5);
    width: fit-content;
    margin: 1em;
}

.chat-message {
    padding: 0.5em;
    font-size: 1.2em;
}

.chat-messenger {
    display: grid;
    justify-content: center;
    text-align: center;
    padding: 1em;
}

.online-users-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    margin: 1em;
}

.online-avatar {
    object-fit: cover;
    border-radius: 50px 50px;
    width: 50px;
    height: 50px;
    padding: 0.5em;
    margin: auto;
}

.chat-avatar {
    position: absolute;
    left: 0.5em;
    object-fit: cover;
    border-radius: 50px 50px;
    width: 40px;
}

.avatar {
    position: absolute;
    top: 0;
    left: 0.5em;
    object-fit: cover;
    border-radius: 50px 50px;
    width: 50px;
    height: 50px;
}

#uploader {
    text-align: center;
    position: relative;
    padding: 1em;
    margin: auto;
}

.uploader-container {
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
}

.uploader-content {
    overflow: auto;
    text-align: center;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
    position: relative;
    background-color: rgb(108, 195, 224);
    border-radius: 3px;
    width: 500px;
    padding: 1em;
    top: 5%;
    margin: auto;
}

.uploader-image {
    object-fit: cover;
    width: 300px;
    height: 300px;
    padding: 5px;
}

.uploader-file {
    display: flex;
    justify-content: center;
}

.uploader-close {
    display: flex;
    justify-content: flex-end;
    margin: auto;
}

.recipes-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    padding: 10px;
}

.search-wrapper {
    padding: 1em;
}

.recipe-content {
    display: grid;
}

.search-recipes {
    text-align: center;
    padding: 2em;
    margin: auto;
}

.recipes-title {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    height: 100%;
    padding: 0.5em;
}

.image {
    height: 150px;
    width: 100%;
    object-fit: cover;
    border-radius: 3px;
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.5);
}

.friends-container {
    text-align: center;
    position: relative;
    padding: 1em;
    margin: auto;
}

.friends-content {
    justify-content: center;
}

.friendship-button {
    display: flex;
    justify-content: center;
}

.finder-container {
    text-align: center;
    position: relative;
    padding: 1em;
    margin: auto;
}

.finder-content {
    justify-content: center;
}

.friends-avatar {
    object-fit: cover;
    border-radius: 50px 50px;
    width: 50px;
    height: 50px;
    padding: 5px;
}

.friends {
    display: table-caption;
    padding: 1em;
}

.friends-wrapper {
    display: flex;
    justify-content: center;
    margin: auto;
}

.name-style {
    width: max-content;
}

/* #friendsname-style {
    justify-content: center;
} */

.welcome-container {
    /* text-align: center; */
    position: relative;
    display: flex;
    justify-content: center;
    /* padding: 1em; */
    margin: auto;
}

.welcome-wrapper {
    text-align: center;
    animation: 1s ease-out 0s 1 slideInRight;
}

#registration {
    text-align: center;
    position: relative;
    padding: 1em;
}

.registration-container {
    display: grid;
    justify-content: center;
    gap: 0.5em;
    padding: 2em;
    margin: auto;
}

#login {
    text-align: center;
    position: relative;
    padding: 1em;
}

.login-container {
    display: grid;
    justify-content: center;
    gap: 0.5em;
    padding: 2em;
    margin: auto;
}

#reset {
    text-align: center;
    position: relative;
    padding: 1em;
}

.shoppinglist-container {
    text-align: center;
    padding: 1em;
    margin: auto;
}

.shoppinglist-content {
    display: grid;
    justify-content: center;
}

.list-title {
    text-align: center;
    padding: 1em;
    /* margin: auto; */
}

.extra-container {
    display: flex;
    justify-content: center;
    padding: 2em;
    margin: auto;
}

.search-extras {
    padding: 1em;
    margin: auto;
}

.extras-results {
    text-align: center;
}

input {
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    border: none;
    padding: 0.2em;
    margin: 0.5em;
}

button {
    position: relative;
    border: 1px solid transparent;
    border-radius: 3px;
    background-color: whitesmoke;
    color: rgb(132, 0, 255);
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.3);
    height: fit-content;
    cursor: pointer;
    /* padding: 0.2em; */
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0.2em;
    margin-right: 0.2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.button-wrapper {
    align-self: end;
}

button:hover {
    /* background-color: rgb(243, 236, 24); */
    background-color: rgb(108, 195, 224);
}

button:before {
    position: relative;
    top: 0;
    -webkit-font-smoothing: antialiased;
}

button:after {
    position: absolute;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

button:active {
    top: 2px;
}

ul {
    margin: 0.1em;
}

.list-btn {
    margin-left: 1em;
    width: fit-content;
}

a {
    color: inherit;
    text-decoration: none;
    transition: all 0.7s;
}

a:hover {
    color: rgb(108, 195, 224);
}

.hand-cursor {
    cursor: pointer;
}

.center-btn {
    text-align: center;
}

textarea {
    border: none;
    border-radius: 3px;
    padding: 1em;
}

footer {
    position: absolute;
    border-radius: 3px;
    bottom: 0.2em;
    font-size: 0.8em;
    padding: 0.2em;
    margin-bottom: 0em;
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@media (max-width: 758px) {
    .recipes-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;
        padding: 10px;
    }

    .friends-wrapper {
        display: grid;
    }
}
