* {
    font-family: Didot, serif;
}
html {
    position: relative;
    min-height: 100%;
}

body {
    height: 100%;
    background: rgba(240, 235, 25);
}

#welcome-logo {
    width: 200px;
    height: 200px;
}

#container {
}

header {
    position: relative;
    background-color: lightblue;
    display: grid;
    flex-direction: column;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    height: 50px;
    padding: 1em;
    margin: 1em;
}

.header-section div {
    display: flex;
    justify-content: center;
    align-items: center;
}

header #logo {
    float: left;
    width: 50px;
    height: 50px;
    padding: 5px;
}

header #avatar {
    object-fit: cover;
    border-radius: 50px 50px;
    float: right;
    width: 50px;
    height: 50px;
    padding: 5px;
    margin: -5px 0 0 -5px;
}

#menu {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    z-index: 1;
    text-align: end;
    right: 0;
    padding-top: 0;
    padding-bottom: 1em;
    padding-right: 1em;
    padding-left: 1em;
    margin-right: 1em;
}

#profile-avatar {
    object-fit: cover;
    width: 150px;
    height: 150px;
    padding: 5px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 2em;
    margin-left: auto;
}

#profile {
    /* background-color: tomato; */
    display: flex;
    justify-content: center;
    padding: 1em;
    margin: 1em;
}

#profile-info {
    padding: 1em;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: 2em;
}

#bio-text {
    background-color: whitesmoke;
    width: 30em;
    padding: 1em;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

#uploader {
    text-align: center;
    position: relative;
    padding: 1em;
    margin: auto;
}

#uploader-container {
    justify-content: center;
}

#chat {
    text-align: center;
    position: relative;
    padding: 1em;
    margin: auto;
}

.chat-container {
    border: 2px solid black;
}

.chat-content {
    text-align: left;
    display: inline-block;
    padding: 0.2em 1em 0.2em 5em;
    position: relative;
    width: 45%;
    vertical-align: top;
    margin-top: 1em;
    margin-bottom: 1em;
}

.avatar {
    position: absolute;
    top: 0;
    left: 0.5em;
    object-fit: cover;
    border-radius: 50px 50px;
    width: 50px;
    height: 50px;
}

.uploader-image {
    object-fit: cover;
    width: 300px;
    height: 300px;
    padding: 5px;
}

#friends-container {
    text-align: center;
    position: relative;
    padding: 1em;
    margin: auto;
}

#friends-content {
    justify-content: center;
}

#finder-container {
    text-align: center;
    position: relative;
    padding: 1em;
    margin: auto;
}

#finder-content {
    justify-content: center;
}

#friends-avatar {
    object-fit: cover;
    border-radius: 50px 50px;
    width: 50px;
    height: 50px;
    padding: 5px;
}

.friends {
    display: table-caption;
    padding: 1em;
}

.friends-wrapper {
    display: flex;
    justify-content: center;
    margin: auto;
}

#name-style {
    width: max-content;
}

#friendsname-style {
    justify-content: center;
}

#welcome {
    text-align: center;
    position: relative;
    padding: 1em;
    margin: auto;
}

#registration {
    text-align: center;
    position: relative;
    padding: 1em;
    margin: auto;
}

#registration-container {
    justify-content: center;
}

input {
    padding: 0.2em;
    margin: 0.5em;
}

button {
    cursor: pointer;
    padding: 0.2em;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.3s;
}

button:hover {
    color: tomato;
}

a {
    transition: all 0.3s;
}

a:hover {
    color: tomato;
}

.hand-cursor {
    cursor: pointer;
}

footer {
    position: absolute;
    bottom: 0;
    font-size: 1em;
    text-align: end;
    padding-top: 1em;
    margin-bottom: auto;
}
