* {
    font-family: Katahdin Round;
    color: rgb(132, 0, 255);
}

@font-face {
    font-family: "Katahdin Round";
    src: local("Katahdin Round");
}

html {
    position: relative;
    min-height: 100%;
}

body {
    height: 100%;
    background: rgb(196, 136, 252);
    margin-bottom: 50px;
}

#welcome-logo {
    width: 200px;
    height: 200px;
}

.main-container {
    padding: 2em;
    margin: auto;
}

header {
    position: relative;
    background-color: rgb(108, 195, 224);
    display: grid;
    flex-direction: column;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.2em;
    border-radius: 3px;
    height: 50px;
    padding: 1em;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: 2em;
}

.header-section div {
    display: flex;
    justify-content: center;
    align-items: center;
}

header #logo {
    float: left;
    width: 50px;
    height: 50px;
    padding: 5px;
}

header #avatar {
    object-fit: cover;
    border-radius: 50px 50px;
    float: right;
    width: 50px;
    height: 50px;
    padding: 5px;
    margin: -5px 0 0 -5px;
}

#menu {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    z-index: 1;
    text-align: end;
    right: 0;
    padding-top: 0;
    padding-bottom: 1em;
    padding-right: 1em;
    padding-left: 1em;
    margin-right: 1em;
}

.profile-container {
    display: flex;
    /* justify-content: center; */
    border: 4px solid rgb(108, 195, 224);
    border-radius: 3px;
    padding: 1em;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2em;
    margin-bottom: 2em;
}

.profile-avatar {
    object-fit: cover;
    width: 150px;
    height: 150px;
    padding: 5px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 2em;
    margin-left: auto;
}

#profile {
    /* background-color: tomato; */
    /* display: flex; */
    /* justify-content: center;
    padding: 1em;
    margin: 1em; */
}

#profile-info {
    padding: 1em;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: 2em;
}

.profile-content {
    padding: 1em;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: 2em;
}

.bio {
    padding: 1em;
    margin: auto;
}

/* #bio-text {
    background-color: whitesmoke;
    width: 30em;
    padding: 1em;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
} */

#uploader {
    text-align: center;
    position: relative;
    padding: 1em;
    margin: auto;
}

#uploader-container {
    justify-content: center;
}

/* #chat {
    text-align: center;
    position: relative;
    padding: 1em;
    margin: auto;
} */

.chat-container {
    border: 4px solid rgb(108, 195, 224);
    border-radius: 3px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

.chat-content {
    text-align: left;
    display: inline-block;
    padding: 0.2em 1em 0.2em 5em;
    position: relative;
    width: 45%;
    vertical-align: top;
    margin-top: 1em;
    margin-bottom: 1em;
}

.chat-messenger {
    display: grid;
    justify-content: center;
    text-align: center;
}

.avatar {
    position: absolute;
    top: 0;
    left: 0.5em;
    object-fit: cover;
    border-radius: 50px 50px;
    width: 50px;
    height: 50px;
}

.uploader-image {
    object-fit: cover;
    width: 300px;
    height: 300px;
    padding: 5px;
}

.recipes-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    padding: 10px;
}

.recipe-content {
    display: grid;
}

.search-recipes {
    text-align: center;
    padding: 2em;
    margin: auto;
}

.recipes-title {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    /* border: 2px solid black; */
    /* box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.5); */
    /* width: 100%; */
    height: 100%;
    padding: 0.5em;
}

.image {
    height: 150px;
    width: 100%;
    object-fit: cover;
    border-radius: 3px;
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.5);
}

#friends-container {
    text-align: center;
    position: relative;
    padding: 1em;
    margin: auto;
}

#friends-content {
    justify-content: center;
}

#finder-container {
    text-align: center;
    position: relative;
    padding: 1em;
    margin: auto;
}

#finder-content {
    justify-content: center;
}

#friends-avatar {
    object-fit: cover;
    border-radius: 50px 50px;
    width: 50px;
    height: 50px;
    padding: 5px;
}

.friends {
    display: table-caption;
    padding: 1em;
}

.friends-wrapper {
    display: flex;
    justify-content: center;
    margin: auto;
}

#name-style {
    width: max-content;
}

#friendsname-style {
    justify-content: center;
}

#welcome {
    text-align: center;
    position: relative;
    padding: 1em;
    margin: auto;
}

#registration {
    text-align: center;
    position: relative;
    padding: 1em;
    margin: auto;
}

.registration-container {
    display: grid;
    justify-content: center;
    gap: 0.5em;
}

.login-container {
    display: grid;
    justify-content: center;
    gap: 0.5em;
}

.shoppinglist-container {
    /* display: grid;
    justify-content: center; */
    /* width: min-content; */
    text-align: center;
    padding: 1em;
    margin: auto;
}
.shoppinglist-content {
    display: grid;
    justify-content: center;
}

.list-title {
    text-align: center;
    padding: 1em;
    /* margin: auto; */
}

.extra-container {
    display: flex;
    justify-content: center;
    padding: 2em;
    margin: auto;
}

.search-extras {
    padding: 1em;
    margin: auto;
}

.extras-results {
    display: flex;
    justify-content: center;
}

input {
    padding: 0.2em;
    margin: 0.5em;
}

button {
    border: 1px solid transparent;
    border-radius: 3px;
    background-color: whitesmoke;
    color: rgb(132, 0, 255);
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.3);
    height: fit-content;
    cursor: pointer;
    padding: 0.2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0.2em;
    margin-right: 0.2em;
    transition: all 0.3s;
}

.button-wrapper {
    align-self: end;
}

button:hover {
    background-color: rgb(108, 195, 224);
}

ul {
    margin: 0.1em;
}
/* 
li {
    display: grid;
} */

.list-btn {
    margin-left: 1em;
    width: fit-content;
}

a {
    /* font-size: 1.4em; */
    color: inherit;
    text-decoration: none;
    /* padding: 0.2em; */
    transition: all 0.7s;
}

a:hover {
    color: whitesmoke;
}

.hand-cursor {
    cursor: pointer;
}

.center-btn {
    text-align: center;
}

footer {
    position: absolute;
    background-color: rgb(108, 195, 224);
    border-radius: 3px;
    bottom: 0.2em;
    font-size: 1em;
    padding: 0.2em;
    margin-bottom: 0em;
}
